<div>
    <%= form_tag '/item_taxes', class: 'form-horizontal tax_form' do %>
    <div>
        <label>Item Category Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= select_tag :item_category, options_for_select(ItemCategory.all.collect{ |c| [c[:name], c[:id]]}, params[:item_category]), prompt: "Select a category", class: 'form-control tax_item_category' %>
    </div><br/>
    <div>
        <label>Item Name:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= select_tag :item, options_for_select(@item), prompt: "Select a item", class: 'form-control tax_item' %>
    </div><br/>
    <div>
        <label>Item Price:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= select_tag :price, options_for_select(@price), prompt: "Select a price", class: 'form-control tax_price' %>
    </div><br/>
    <div>
        <label>Tax Type:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= select_tag :type, options_for_select(["percentage","value"]), prompt: "Select a type", class: 'form-control tax_type' %>
    </div><br/>
    <div>
        <label>Tax Value:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= text_field_tag  "value" %>
    </div><br/>
    <div>
    <%= button_tag "Submit", class: 'btn btn-theme02'  %>
    </div>
    <%end%>
</div>

<script type="text/javascript">
    $('.tax_item_category').change(function(){
        var item_category_id = $(".tax_item_category").find(':selected').val();
        $.ajax({
          url: '/get_items',
          data: {item_category_id: item_category_id},
          method: 'get',
          success: function(response){
            $(".tax_item option").remove();
            $(".tax_item").append("<option>Select a Item</option>")
            for(i=0;i<response["data"].length;i++){
              $(".tax_item").append("<option value="+response["data"][i][0]+">"+response["data"][i][1]+"</option>")
            }
        }
        })
    });

    $('.tax_item').change(function(){
        var item_id = $(".tax_item").find(':selected').val();
        $.ajax({
          url: '/get_items_price',
          data: {item_id: item_id},
          method: 'get',
          success: function(response){
            $(".tax_price option").remove();
            $(".tax_price").append("<option>Select a Price</option>")
            for(i=0;i<response["data"].length;i++){
              $(".tax_price").append("<option value="+response["data"][i][0]+">"+response["data"][i][1]+"</option>")
            }
        }
        })
    });

</script>



    