<!DOCTYPE html>
<html>
<head>
  <title>ProductItem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="left">
	<a href="<%= items_path %>">Items</a>&nbsp;
	<a href="<%= item_categories_path %>">Item Categories</a>&nbsp;
	<a href="<%= item_taxes_path %>">Calculate Tax</a>&nbsp;
</div>&nbsp;&nbsp;&nbsp;
<%= yield %>

</body>
</html>
